.sermonsNL_settings table{
    border-spacing: 0;
    width: 600px;
    max-width: 100%;
}
.sermonsNL_settings tr>:nth-child(2){
    width: 375px;
    max-width: 70%;
}
.sermonsNL_settings input[type="text"]{
    width: 100%;
}
.sermonsNL_settings td{
    padding: 4px;
}
.sermonsNL_settings tbody{
    border: 2px solid #b5b5b5;
}

.sermonsNL_settings div.help{
	display: inline-block;
	position: relative;
	width:16px;
	height:16px;
	background-image: url("../img/hint.gif");
	background-repeat: no-repeat;
}
.sermonsNL_settings .help > * {
	display:block;
	min-width:250px;
	position:absolute;
	left:8px;
	top:8px;
	margin:0;
	border: 1px solid #909090;
	background-color: #ffffff;
	padding:5px;
	transition: transform 0s 0.2s, opacity 0.2s 0s;
	transform: scale(0);
	opacity: 0;
	z-index:8;
}
.sermonsNL_settings .help:hover > * {
	transition: transform 0s, opacity 0.2s;
	transform: scale(1);
	opacity:1;
	z-index:9;
}

.sermonsNL_settings th{
	padding-top: 10px;
	text-align: left;
}
.sermonsNL_settings td{
	vertical-align:top;
}
.sermonsNL_settings .ko_setting,
.sermonsNL_settings .kg_setting{
	display:none;
}
.sermonsNL_settings .uses-ko .ko_setting,
.sermonsNL_settings .uses-kg .kg_setting{
	display:table-row;
}

.sermonsNL_settings .collapsible_setting{
    background-color: #f9f9f9;
}
.sermonsNL_settings .always_visible{
    background-color: #e5e5e5;
}
.sermonsNL_settings .collapsible_setting.condition{
    font-style: italic;
    font-size: 80%;
    background-color: #e5e5e5;
}
.sermonsNL_settings .settings_disabled .collapsible_setting{
    visibility:collapse;
}
.sermonsnl-log{
     background-color: white; 
     border: 1px solid #808080; 
     padding: 5px 5px 5px 40px;
}
.sermonsnl-log span{
     color: #808080; 
     width: 30px; 
     display: block; 
     position: absolute;
     left: 5px;
     float: left;
     text-align: right; 
}

#sermonsnl_admin_table{
    display: inline-block;
    min-width: 40%;
    vertical-align: top;
    margin-right: 20px;
}

#sermonsnl_events_table{
    width: 100%;
    border-spacing: 0;
    border: 1px solid #999999;
    background-color: #f5f5f5;
}
#sermonsnl_events_table thead th{
    border-bottom: 1px solid #aaaaaa;
}
#sermonsnl_events_table tbody>:nth-child(odd){
    background-color: #e5e5e5;
}
#sermonsnl_events_table td,
#sermonsnl_events_table th{
    padding: 10px;
}
#sermonsnl_events_table th{
    text-align: left;
}

#sermonsnl_waiting{
    visibility: hidden;
}
#sermonsnl_waiting.shown{
    visibility: visible;
}

#sermonsnl_details_view{
    visibility: hidden;
    display: inline-block;
    vertical-align:top;
    border: 1px solid #555555;
    background-color: #e5e5e5;
    padding: 20px;
}
#sermonsnl_details_view.shown{
    visibility: visible;
    position: relative;
}

.sermonsnl-closebtn{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.sermonsnl-copyshort, .sermonsnl-linktoevent{
    position: relative;
}
.sermonsnl-copyshort{
    cursor: pointer;
}
.sermonsnl-copyshort img, .sermonsnl-linktoevent img{
    width: 16px;
    height: 16px;
}
.sermonsnl-copyshort div, .sermonsnl-linktoevent div{
    display: block;
    white-space: nowrap;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 16px;
    background-color: white;
    padding: 2px;
    border: 1px solid black;
}
.sermonsnl-copyshort div{
    cursor: text;
}
.sermonsnl-linktoevent div{
    right: 0;
}
.sermonsnl-copyshort:hover div, .sermonsnl-linktoevent:hover div{
    visibility: visible;
}
.sermonsnl-copyshort div.copied{
    background-color: #c0c0ff;
    border: 1px solid white;
}
.sermonsnl-copyshort span{
    cursor: text;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    padding: 3px;
    line-height: 2; 
}
.sermonsnl-copyshort span.copied{
    background-color: #c0c0ff;
    border: 1px solid #ffffff;
}
.sermonsnl-linktoevent li{
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.sermonsnl-linktoevent li:hover{
    text-decoration: underline;
}

.sermonsnl-container{
    display: inline-block;
    width: 33%;
    min-width: 400px;
    vertical-align: top;
}
.sermonsnl-container h3{
    margin: 0 5px;
    padding: 10px;
    background-color: #f3f3f3;
    border: 1px solid #aaaaaa;
}
.sermonsnl-container>div{
    margin: 0 5px;
    padding: 10px;
    background-color: #fcfcfc;
    border: 1px solid #aaaaaa;
    border-top-width: 0;
    margin-bottom: 20px;
}

.sermonsnl-abuttons a{
    padding: 3px;
    background-color: #f5f5f5;
    margin-right: 10px;
    border: 1px solid #aaaaaa;
}
.sermonsnl-abuttons a:hover{
    background-color: #ffffff;
}