#sermons_nl_list{
	list-style-type: none;
	background-color: #e5e5e5;
	margin:0;
	padding: 2px;
}
#sermons_nl_list li{
	background-color: #f5f5f5;
	margin: 0 0 2px 0;
	padding:2px;
}
#sermons_nl_list li.sermons-nl-open{
	background-color: #ffffff;
	font-weight: bold;
}
#sermons_nl_list li:last-child{
	margin-bottom:0;
}
.sermons-nl-dt{
	display: inline-block;
	width: 250px;
}
.sermons-nl-pastor{
	display: inline-block;
	width: 200px;
}
#sermons_nl_list>li{
	cursor: pointer;
	padding: 2px;
}
#sermons_nl_list>li div{
	cursor: initial;
}
.sermons-nl-details{
	height:0;
	overflow:hidden;
	font-weight: normal;
	transition: height 0.5s;
}
.sermons-nl-open .sermons-nl-details{
	height: auto;
	/* set height to content height of nesting div
	   this is done in javascript (not possible in css)
	*/
}
.sermons-nl-av{
	display: inline-block;
	width:25px;
	height:20px;
}

.sermons-nl-audio{
	background-image: url('../img/audio.gif');
	background-repeat: no-repeat;
}
.sermons-nl-audio-live{
	background-image: url('../img/audio_live.gif');
	background-repeat: no-repeat;
}
.sermons-nl-video{
	background-image: url('../img/video2.gif');
	background-repeat: no-repeat;
}
.sermons-nl-video-live{
	background-image: url('../img/video2_live.gif');
	background-repeat: no-repeat;
}
.sermons-nl-video-planned{
	background-image: url('../img/video2_planned.gif');
	background-repeat: no-repeat;
}
.sermons-nl-open .sermons-nl-av{
    visibility: hidden;
}

.sermons-nl-links{
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}

p.sermons-nl-audio,
p.sermons-nl-audio-live,
p.sermons-nl-video,
p.sermons-nl-video-live,
p.sermons-nl-video-planned{
	width: 200px;
	height: 20px;
}
p.sermons-nl-audio a,
p.sermons-nl-audio-live a,
p.sermons-nl-video a,
p.sermons-nl-video-planned a,
p.sermons-nl-video-live a{
	padding-left: 25px;
	line-height:25px;
}

.sermons-nl-description{
	display: inline-block;
	padding:10px;
	vertical-align: top;
}

#sermons_nl_more_down.disabled,
#sermons_nl_more_up.disabled{
	color: #c0c0c0;
}
#sermons_nl_more_down.disabled::after,
#sermons_nl_more_up.disabled::after{
	content: " ...";
}

/* responsive style for the list item */
#sermons_nl_list.style-narrow .sermons-nl-dt{
	width: auto;
	padding-left:10px;
}
#sermons_nl_list.style-narrow .sermons-nl-pastor{
	width: auto;
	display:block;
	padding-left:60px;
}
#sermons_nl_list.style-narrow .sermons-nl-pastor:empty{
	display:none;
}
#sermons_nl_list.style-narrow .sermons-nl-type{
	width: auto;
	padding-left:60px;
	display:block;
	font-style: italic;
}
#sermons_nl_list.style-narrow .sermons-nl-type::before{
	content: "(";
}
#sermons_nl_list.style-narrow .sermons-nl-type::after{
	content: ")";
}
#sermons_nl_list.style-narrow .sermons-nl-type:empty{
	display:none;
}

.sermons-nl-details video{
	width: 100%;
}

.sermons-nl-logos{
    margin-top: 10px;
}
.sermons-nl-logos img{
    width: 150px;
    min-width: 75px;
    max-width: 100%;
    margin-right: 7px;
}
